# Node
node_modules/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/

# Misc
*.local
*.log
*.cache
*.tmp

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/

# Next.js export
out/
